.login-page {
  align-items: center;
  display: flex;
  height: calc(100% - 80px);
  justify-content: center;

  .form-container {
    align-items: center;
    background-color: #393939;
    border-radius: 8px;
    box-shadow: 0 3px 4px 3px rgba(0, 0, 0, 0.1);
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    max-width: 300px;
    min-width: 300px;
    padding: 16px 24px;
    width: 300px;

    .form-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 80%;


      .form-field {
        display: flex;
        position: relative;
        width: 100%;

        &:focus-within {
          .form-input {
            border-color: #fff;
            color: #fff;
          }

          .form-label {
            color: #fff;
          }
        }

        .form-input {
          background-color: transparent;
          border: 1px solid #e4e4e4;
          border-radius: 8px;
          color: #e4e4e4;
          padding: 8px 16px;
          outline-offset: 4px;
          width: 100%;

          &:focus {
            border-color: #fff;
            box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.15);
            color: #fff;
            outline: none;
          }
        }

        .form-label {
          background-color: #393939;
          color: #e4e4e4;
          font-size: 12px;
          left: 12px;
          position: absolute;
          top: -9px;
          z-index: 1;
        }

      }
    }

    .form-header { 
      display: flex;
      flex-direction: column;
      gap: 4px;

      .form-subtitle {
        text-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        font-weight: 500;
        margin: 0;
      }
      
      .form-title {
        font-size: 24px;
        margin: 0;
        text-align: center;
        text-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
      }
    }

    .form-submit-btn {
      appearance: none;
      background-color: transparent;
      border: 1px solid #e4e4e4;
      border-radius: 8px;
      color: #e4e4e4;
      cursor: pointer;
      padding: 8px 16px;

      &:hover {
        border-color: #fff;
        box-shadow: 0 3px 4px rgba(255, 255, 255, 0.15);
        color: #fff;
      }
    }
  
  }
}