.workflows-side-panel {
  border-right: 1px solid #555;
  height: 100%;
  min-width: 320px;
  padding: 24px;
  width: 320px;

  .workflows-side-panel-title {
    h1 {
      font-size: 32px;
      font-weight: 500;
      margin: 0;
      margin-bottom: 16px;
    }
  }

  .workflows-side-panel-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
  }
}
