.workflows-list-item {
  background-color: #424242;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #888;
  border-radius: 8px;
  color: #f2f2f2;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
  
  &:hover:not(.active) {
    opacity: 0.8;
  }

  &.active {
    background-color: #333;
  }

  .workflows-list-item--title {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
  }

  .workflows-list-item--description {
    font-size: 14px;
    margin: 0;
  }
}