.install-integration-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 32px;

  .form-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 80%;

    .error-msg {
      border: 1px solid #da4e31;
      border-radius: 8px;
      color: #da4e31;
      font-size: 12px;
      margin: 0;
      max-width: 240px;
      padding: 8px;
    }

    .form-field {
      max-width: 240px;
      min-width: 240px;
      width: 100%;
    }

    .submit {
      background-color: #424242;
      border: 1px solid #888;
      border-radius: 4px;
      color: white;
      cursor: pointer;
      font-size: 14px;
      padding: 8px 16px;
      text-align: center;
      transition: background-color 0.3s;
      width: fit-content;

      &:hover {
        background-color: #383838;
      }
    }
  }

  .form-title {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    width: fit-content;

    .integration-name {
      background-clip: text;
      background-image: linear-gradient(45deg, #fff 0%,#fff 100%); 
      background-size: 100%;
      color:#da4e31;
      font-size: 24px;
      font-weight: bold;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
    }
  }
}
