.workflows-main-panel {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  padding: 12px 24px 24px;
  width: 100%;

  .workflows-breadcrumbs {
    font-size: 14px;
  }

  .workflows-main-panel--empty {
    align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: center;
  }

  .workflows-workflow {
    border-radius: 8px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1); 
    display: flex;
    height: 100%;
    overflow: hidden;

    .workflow-details {
      background-color: #343434;
      box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2); 
      display: flex;
      flex-direction: column;
      gap: 20px;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 16px;
      width: 320px;

      &::-webkit-scrollbar {
        width: 2px;
      }
    
      &::-webkit-scrollbar-track {
        background: transparent;
      }
    
      &::-webkit-scrollbar-thumb {
        background: #CACACA;
        border-radius: 1px;
      }

      .workflow-details-group {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .workflow-details-group-header {
          color: #fff;
          display: flex;
          font-size: 20px;
          font-weight: 600;
          justify-content: space-between;
          line-height: 24px;
          margin: 0;

          .workflow-details-group-header-icon {
            height: 28px;
            width: 28px;

            svg {
              height: 100%;
              width: 100%;
            }
          }
        }

        .workflow-details-group-content {
          background-color: #424242;
          border-radius: 8px;
          box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1); 
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
          min-height: 80px;
          overflow-x: auto;
          padding: 8px;

          &::-webkit-scrollbar {
            height: 2px;
            width: 2px;
          }
        
          &::-webkit-scrollbar-track {
            background: transparent;
          }
        
          &::-webkit-scrollbar-thumb {
            background: #CACACA;
            border-radius: 1px;
          }

          .workflow-group-item {
            align-items: center;
            background-color: #fff;
            border-radius: 6px;
            color: #000;
            display: flex;
            font-size: 12px;
            height: 24px;
            line-height: 16px;
            padding: 4px 6px;

            span {
              white-space: nowrap;
            }
          }
        }

        .workflow-input {
          background-color: #424242;
          border: none;
          border-radius: 8px;
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          padding: 8px;
          text-overflow: ellipsis;

          &:read-only {
            cursor: default;
            opacity: 0.7;
          }
        }
      }
    }

    .workflow-steps-container {
      background-color: #424242;
      height: 100%;
      width: 100%;

      .workflow-info-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 16px;

        .workflow-info-description {
          font-size: 13px;
          font-weight: 500;
          margin: 0;
          text-align: center;
        }

        .workflow-info-name {
          font-size: 20px;
          margin: 0;
          text-align: center;
        }
      }

      .workflow-steps-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 16px;
        height: 100%;
        overflow-y: scroll;
        max-height: 500px;

        &::-webkit-scrollbar {
          width: 2px;
        }
      
        &::-webkit-scrollbar-track {
          background: transparent;
        }
      
        &::-webkit-scrollbar-thumb {
          background: #CACACA;
          border-radius: 1px;
        }

        .workflow-step {
          align-items: center;
          border: 1px solid #888;
          border-radius: 8px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
          cursor: pointer;
          display: flex;
          gap: 12px;
          padding: 12px;

          &:hover {
            background-color: #383838;
          }

          &.active {
            background-color: #383838;
            border-color: #ccc;
          }

          .workflow-step-icon {
            height: 40px;
            width: 40px;

            svg {
              height: 40px;
              width: 40px;
            }
          }

          .workflow-step-info-container {
            display: flex;
            flex-direction: column;
            width: 100%;

            .workflow-step-info-function {
              font-size: 12px;
            }

            .workflow-step-info-name {
              font-size: 16px;
              font-weight: 600;
            }
          }

          .workflow-step-output {
            display: flex;
            flex-wrap: wrap;
            font-size: 10px;
            gap: 4px;
            min-width: 35%;
            word-break: break-all;

            span {
              background-color: white;
              border-radius: 6px;
              color: black;
              display: inline-block;
              padding: 4px 6px;
            }
          }
        }
      }

      .workflow-step-separator {
        margin: 0 auto;
        min-height: 36px;
        min-width: 36px;
      }
    }
  }
}
