.installed-integrations-container {
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  min-width: 320px;
  padding: 24px;
  width: 320px;

  .installed-integrations-title { 
    font-size: 24px;
    margin: 0;
    text-align: center;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }
}
