.dropdown-select__option {
  .incident-task-assignee-avatar {
    border-radius: 100%;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
    height: 28px;
    max-height: 28px;
    max-width: 28px;
    min-height: 28px;
    min-width: 28px;
    width: 28px;
  }

  .incident-task-assignee-name {
    font-size: 14px;
    font-weight: 500;
    word-break: break-word;
  }
}
